<div class="row" id="section">
    <div class="col-md-12">
        <h2>À propos de nous</h2>
        <section>
            <p>Nous sommes des experts du marché de la construction de maisons individuelles 
                et du métier d’aménageur depuis plus de 14 ans.</p>
            <p>Notre mission est de vous mettre en relation avec les meilleurs professionnels 
            de la construction, tous certifiés CCMI, mais aussi de vous accompagner tout au long
            de votre projet de construction.</p>
            <p>Nous tenons à ce que vous puissiez faire construire la maison de vos rêves de façon
            sereine et que vous ayez tous les éléments pour réaliser votre projet dans des conditions idéales.</p>
        </section>
        <div class="c-about-us_numbers">
            <div class="c-about-us_item">
                <div class="c-about-us_number">+1</div>
                <div class="c-about-us_title">Année d'expérience</div>
            </div>
            <div class="c-about-us_item">
                <div class="c-about-us_number">250</div>
                <div class="c-about-us_title">Terrains &agrave; vendre partout au Maroc</div>
            </div>
            <div class="c-about-us_item">
                <div class="c-about-us_number">10</div>
                <div class="c-about-us_title">Experts passionnés</div>
            </div>
        </div>
    </div>  
</div>