<div class="row" id="section">
    <div class="col-md-12">
        <h2>À propos de nous</h2>
        <section>
            <p>Notre site regroupe des experts de qualité du foncier qui ont une experience depuis plus de 1 année afin d'apporter à ses clients une prestation de qualité et de proximité.</p>
            <p>Notre mission est de vous mettre en relation avec les meilleurs professionnels 
            du foncier, afin de garentir un service de qualité tout en conservant une tradition d’écoute et de conseils.</p>
            <p>Nous tenons à ce que vous puissiez faire louer ou vendre le terrain de vos rêves de façon
            sereine et que vous ayez tous les éléments pour réaliser votre projet dans des conditions idéales.</p>
        </section>
        <div class="c-about-us_numbers">
            <div class="c-about-us_item">
                <div class="c-about-us_number">+1</div>
                <div class="c-about-us_title">Année d'expérience</div>
            </div>
            <div class="c-about-us_item">
                <div class="c-about-us_number">250</div>
                <div class="c-about-us_title">Terrains &agrave; vendre partout au Maroc</div>
            </div>
            <div class="c-about-us_item">
                <div class="c-about-us_number">10</div>
                <div class="c-about-us_title">Experts passionnés</div>
            </div>
        </div>
    </div>  
</div>