<header id="fh5co-header-section" class="sticky-banner">
    <div class="container">
        <div class="nav-header">
            <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
            <h1 id="fh5co-logo"><a href="index.html"><!--<i class="icon-home"></i>-->Vente<span>Fonciers</span></a></h1>
            <!-- START #fh5co-menu-wrap -->
            <nav id="fh5co-menu-wrap" role="navigation">
                <ul class="sf-menu" id="fh5co-primary-menu">
                    <li class=""><a href="/home" routerLinkActive="active">Home</a></li>
                   
                    <li> <a routerLink="/achat" routerLinkActive="active">Achat</a>
                
                    </li>
                    <li><a routerLink="/location">Location</a></li> 
                    <li><a routerLink="/blog">Blog</a></li>   
                    <li><a routerLink="/contact-us">Contactez nous</a></li>
                    <li><a routerLink="/publierannonce">Publier annonce</a></li> 
                    <li>
                        <a *ngIf="!authStore.isAuthenticated" data-toggle="modal" data-target="#exampleModal">Connexion</a>
                      
                            <a *ngIf="authStore.isAuthenticated"  class="fh5co-sub-ddown">Espace utilisateur</a>
                            <ul class="fh5co-sub-menu" *ngIf="authStore.isAuthenticated">
                                <li><a href="#" data-toggle="modal" data-target="#profilmodal">Mon compte</a></li>
                                <li><a (click)="disconnect()">Deconnexion</a></li>
                            </ul>                 
                        
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
