h3{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: block;
    font-weight: 700;
    font-size: 40px;
    padding-top: 100px;
    padding-bottom: 40px;
}
img{
    padding: 10px 350px 50px 100px;
    width: auto;
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 20px;
    margin-left: 100px;
}
aside{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 200;
    font-size: 20px;
    margin-left: 180px;
    margin-top: 150px;
}