<div class="row">
    <div class="col-md-8">
        <h3 class="conseil-title"><span>{{article.title}}</span></h3>
        <img  src="{{article.imageUrl}}" alt="Photo of a land">
        <p id="S1">
            {{article.description}}
        </p>
        <p id="S2">
            {{article.text1}}
        </p>
        <p id="S3"> 
            {{article.text2}}
        </p>
        <p id="S4">
            {{article.text3}}
        </p>
    </div>
    <div class="col-md-4">
        <aside>
            <h4>Menu</h4>
            <ol>
                <li><a href="blog/article/0/#S1">Introduction</a></li>
                <li><a href="blog/article/0/#S2">{{article.soustitre1}}</a></li>
                <li><a href="blog/article/0/#S3">{{article.soustitre2}}</a></li>
                <li><a href="blog/article/0/#S4">{{article.soustitre3}}</a></li>
            </ol>
        </aside>
    </div>
</div>
<tr>
    <div class="container">
<div class="row">
    <div class="col-md-10">
        <app-aide></app-aide>
    </div>
</div>

