<div class="row">
    <div class="col-md-8">
        <h3 class="conseil-title"><span>Maison et terrain à vendre : 3 conseils pour vous décider</span></h3>
        <img  src="../assets/images/land.png" alt="Photo of a land">
        <p>
            Ne pas négliger l’importance du choix de son terrain
Faire construire et acheter son terrain, c’est non seulement choisir son futur chez soi, mais c’est également disposer d’une plus grande liberté de personnalisation et d’adaptation pour concevoir la maison qui nous ressemble. Comment s’y retrouver toutefois dans les très nombreuses offres disponibles sur le marché ? 
Choisir correctement son terrain et sa maison à construire s’avère en effet fondamental.
        </p>
    </div>
    <div class="col-md-4">
        <aside>
            <h4>Menu</h4>
            <ol>
                <li>section 1</li>
                <li>section 1</li>
                <li>section 1</li>
            </ol>
        </aside>
    </div>
</div>
