<div class="row">
    <div class="col-md-8">
        <h3 class="conseil-title"><span>{{article.title}}</span></h3>
        <img  src="{{article.imageUrl}}" alt="Photo of a land">
        <p id="S1">
            {{article.description}}
        </p>
        <p id="S2">
            {{article.text1}}
        </p>
        <p id="S3"> 
            {{article.text2}}
        </p>
        <p id="S4">
            {{article.text3}}
        </p>
    </div>
    <div class="col-md-4">
        <aside>
            <h4>Menu</h4>
            <ol>
                <li><a href="blog/article/0/#S1">Introduction</a></li>
                <li><a href="blog/article/0/#S2">{{article.soustitre1}}</a></li>
                <li><a href="blog/article/0/#S3">{{article.soustitre2}}</a></li>
                <li><a href="blog/article/0/#S4">{{article.soustitre3}}</a></li>
            </ol>
        </aside>
        
    </div>
</div>
<tr>
    
<div class="row">
    <div class="col-md-10">
        <div class="row aide">
            <h2 id="titre">Voici d'autre articles utiles</h2>
        <div class="col-md-5">
            <mat-card class="example-card">
                <img mat-card-image src="../assets/images/land.png" alt="Photo of a land" id="land">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Maison et terrain à vendre : 3 conseils pour vous décider</mat-card-title>
                    
                  </mat-card-header>
                <mat-card-content>
                  <p id="txt1">
                    Dans la jungle des maisons et terrains disponibles à la vente sur le marché, 
                    il est parfois difficile de s’y retrouver, d’y voir clair et donc de se décider 
                    face aux enjeux financiers. Pourtant, certains éléments bien spécifiques permettent 
                    généralement de faire le bon choix d’achat et ainsi réussir son opération immobilière.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>Lire la suite</button>
                </mat-card-actions>
              </mat-card>
        </div>
        <div class="col-md-5">
            <mat-card class="example-card">
                
                <img mat-card-image src="../assets/images/constructible.jpg" alt="constructible" id="constructible">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Comment savoir si un terrain est constructible ?
                    </mat-card-title>
                    
                  </mat-card-header>
                <mat-card-content>
                  <p id="txt2">
                    Contrairement à ce que l'on pourrait penser, il n'est pas toujours facile de savoir si oui 
                    ou non un terrain est constructible. La classification des zones constructibles évolue très 
                    régulièrement, à tel point que les propriétaires eux-mêmes peuvent s'y perdre. 
                    Voici comment déterminer avec certitude si un terrain est.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>Lire la suite</button>
                </mat-card-actions>
              </mat-card>
        </div>
        </div>
    </div>
</div>

