<div  style="background-color: 	#dfe4ea;" id="fh5co-properties" class="fh5co-section-gray">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center heading-section">
					<h3>Fonciers A Louer</h3>
	
				</div>
			</div>
			<div class="row"  >

				<div class="col-md-4" *ngFor="let element of resp ; let i = index">
					<div *ngIf = "element.choix == 'true' ">
					<div class="property">
						<a href="#" class="fh5co-property" [style.backgroundImage]= "'url(assets/images/land'+(i)+'.png)'">
	
							<span class="status">A Louer</span>
									   
							<div class="overlay">                        
								<div class="content">
									<p> {{element.prix}} MAD</p>
								</div>
							</div>
							<ul class="list-details">
								<li> {{element.title}} , {{element.surface}} m² de surface </li>                          
							</ul>
						</a>
						
					</div>
				</div>

			</div>
			</div>
		</div>
	</div>

