<div class="row" id="aide">
    <div class="col-md-12">
        <h2>Besoin d'aide</h2>
        <div class="col-md-4">
            <mat-card class="example-card">
                <img mat-card-image src="../assets/images/lande.png" alt="Photo of a land">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Maison et terrain à vendre : 3 conseils pour vous décider</mat-card-title>
                    
                  </mat-card-header>
                <mat-card-content>
                  <p>
                    Dans la jungle des maisons et terrains disponibles à la vente sur le marché, 
                    il est parfois difficile de s’y retrouver, d’y voir clair et donc de se décider 
                    face aux enjeux financiers. Pourtant, certains éléments bien spécifiques permettent 
                    généralement de faire le bon choix d’achat et ainsi réussir son opération .
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>Lire la suite</button>
                </mat-card-actions>
              </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="example-card">
                
                <img mat-card-image src="../assets/images/constructible.jpg" alt="constructible">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Comment savoir si un terrain est constructible ?
                    </mat-card-title>
                    
                  </mat-card-header>
                <mat-card-content>
                  <p>
                    Contrairement à ce que l'on pourrait penser, il n'est pas toujours facile de savoir si oui 
                    ou non un terrain est constructible. La classification des zones constructibles évolue très 
                    régulièrement, à tel point que les propriétaires eux-mêmes peuvent s'y perdre. 
                    Voici comment déterminer avec certitude si un terrain est constructible ou non.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>Lire la suite</button>
                </mat-card-actions>
              </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="example-card">
                <img mat-card-image src="../assets/images/question.jpg" alt="question">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>5 questions à se poser avant de faire construire une maison</mat-card-title>
                    
                  </mat-card-header>
                <mat-card-content>
                  <p>
                    Si la question du coût de construction de la maison est un aspect très important sur lequel 
                    se focalisent les futurs propriétaires, de nombreux autres points ont des conséquences sur 
                    le projet, et peuvent avoir des effets à long terme ; ils doivent donc être minutieusement 
                    réfléchis.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>Lire la suite</button>
                </mat-card-actions>
              </mat-card>
        </div>
            <a class="btn btn-outline btn-rounded" routerLink="/blog">Voir tous les conseils</a>
        
    </div>

</div>
