<section class="container-fluid">
  <div class="main container">
    <div class="account-login">
      <fieldset class="col2-set">
        <div class="col-1 new-users">
          <h3>Nouveaux client</h3>

          <p>en creant un compt chez nous vous aurrez la possiblite .....</p>
          <div class="col-md-12">
            <div class="form-group">
                <input type="submit" value="S'inscrire" class="btn btn-primary">
            </div>
        </div>
        </div>

        <form method="POST" action="">
          <div class="col-2 registered-users">
            <h3>Client inscris</h3>

            <p>si vous avez un compt avec nous , veuillez vous connecter</p>
            <ul class="form-list">
              <li>
                <input
                  type="email"
                  title="Email Address"
                  id="email"
                  value=""
                  name="email"
                  required
                  autocomplete="email"
                />
              </li>
              <li>
                <input
                  type="password"
                  title="Password"
                  id="password"
                  class="input-text "
                  name="password"
                  required
                  autocomplete="current-password"
                />
              </li>
            </ul>
            <div class="form-group row">
              <div class="col-md-6 offset-md-4">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="remember"
                    name=""
                  />remember
                </div>
              </div>
            </div>

            <p class="required">* info obligatoire</p>
            <div class="col-md-12">
                <div class="form-group">
                    <input type="submit" value="Se connecter" class="btn btn-primary">
                </div>
            </div>
          </div>
        </form>
      </fieldset>
    </div>
  </div>
</section>
