<div id="fh5co-contact" class="container-fluid" style="background-color: 	#dfe4ea;">
  <div class="container">
    <div class="account-login">
      <fieldset class="col2-set">
        <form method = "post" action="">
        <div class="col-1 new-users">
          <h3>Nouveau client</h3>

          <p>en creant un compt chez nous vous aurrez la possiblite .....</p>
      
        <div class="col">
          <div class="row">
              <div class="col">
                  <div class="form-group">
                      <input type="text" class="form-control" placeholder="Name">
                  </div>
              </div>
              <div class="col">
                  <div class="form-group">
                      <input type="email" class="form-control" placeholder="Email">
                  </div>
              </div>
          
              <div class="col">
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="password">
                </div>
            </div>
            <div class="col">
              <div class="form-group">
                  <input type="pasword" class="form-control" placeholder="confirmation password">
              </div>
          </div>
              <div class="col-md-12">
                  <div class="form-group">
                      <input type="submit" value="S'inscrire" class="btn btn-primary">
                  </div>
              </div>
          </div>
      </div>

        </div>
      </form>




      
        <form method="POST" action="">
          <div class="col-2 registered-users">
            <h3>Client inscris</h3>

            <p>si vous avez un compt avec nous , veuillez vous connecter</p>
            <div class="col">
              <div class="form-group">
                  <input type="text" class="form-control" placeholder="Name">
              </div>
          </div>
          <div class="col">
              <div class="form-group">
                  <input type="email" class="form-control" placeholder="Email">
              </div>
          </div>
            <div class="form-group row">
              <div class="col-md-6 offset-md-4">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="remember"
                    name=""
                  /> se souvenir
                </div>
              </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <input type="submit" value="Se connecter" class="btn btn-primary">
                </div>
            </div>
          </div>
        </form>
      </fieldset>
    </div>
  </div>
</div>
