<div  style="background-color: 	#dfe4ea;" id="fh5co-properties" class="fh5co-section-gray">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center heading-section">
				<h3>Fonciers A Vendre</h3>

			</div>
		</div>
		<div class="row" >

			<div class="col-md-4" *ngFor="let element of resp; let i = index"  style="margin-top: 30px;">
				<div *ngIf = "element.choix == 'false' ">
				<a href="home/annonce/5" class="fh5co-property" [style.backgroundImage]= "'url(assets/images/land'+(i)+'.png)'">
					<span class="status">A Vendre</span>
					
					<div class="prop-details">
						<span class="price">{{element.prix}} MAD</span>
						<h3>{{element.title}} , {{element.surface}} m² de surface</h3>
					</div>
				</a>
				</div>
			</div>

		
		</div>
	</div>
</div>
<div class="pagination">
    <a href="#"> &laquo; </a>
    <a href="#" class="active">1</a>
    
    <a href="#"> &raquo;</a>
</div>

