<aside id="fh5co-hero" class="js-fullheight">
  <div class="flexslider js-fullheight">
    <ul class="slides">
      <li style="background-image: url(assets/images/land2.png);">
        <div class="container-fluid">
          <div class="row">
            <div class="js-fullheight slider-text">
              <div class="slider-text-inner">
                <div class="desc">
                  <!--<span class="status">A Vendre </span>-->
                  <h1>Nouveau fonciers a Vendre</h1>
                  <h2 class="price">40000 MAD</h2>
                  <p>ladresse du foncier et quelque details</p>
                  <p>
                    <a class="btn btn-primary btn-lg" href="/home">Voir detail</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li style="background-image: url(assets/images/land8.png);">
        <div class="container-fluid">
          <div class="row">
            <div class="js-fullheight slider-text">
              <div class="slider-text-inner">
                <div class="desc">
                  <!--<span class="status">A Vendre </span>-->
                  <h1>Nouveau fonciers a Vendre</h1>
                  <h2 class="price">500000 MAD</h2>
                  <p>ladresse du foncier et quelque details</p>
                  <p>
                    <a class="btn btn-primary btn-lg" href="/home">Voir detail</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li style="background-image: url(assets/images/land2.png);">
        <div class="container-fluid">
          <div class="row">
            <div class="js-fullheight slider-text">
              <div class="slider-text-inner">
                <div class="desc">
                  <!--<span class="status">A Vendre </span>-->
                  <h1>Nouveau fonciers a Vendre</h1>
                  <h2 class="price">600000 MAD</h2>
                  <p>ladresse du foncier et quelque details</p>
                  <p>
                    <a class="btn btn-primary btn-lg" href="/home">Learn More</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</aside>
