
<!-- Modal -->
<div class="modal fade" id="profilmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Mon profile</h2>
  
  
      </div>
      <div class="modal-body">
        <div class="md-form form-sm mb-5" style="margin-top: 20px;">
          <input type="text" readonly [(ngModel)]="user.LastName"  id="modalLRInput3" class="form-control form-control-sm validate" placeholder="nom">
        </div>

        <div class="md-form form-sm mb-5" style="margin-top: 20px;">
            <input type="text" readonly [(ngModel)]="user.FirstName" id="modalLRInput14" class="form-control form-control-sm validate" placeholder="prenom">
          </div>

        <div class="md-form form-sm mb-5" style="margin-top: 20px;">     
          <input type="email" readonly [(ngModel)]="user.email" id="modalLRInput15" class="form-control form-control-sm validate" placeholder="email">       
        </div>

        <div class="md-form form-sm mb-4" style="margin-top: 20px;">
        
          <input type="text" readonly [(ngModel)]="user.password" id="modalLRInput16" class="form-control form-control-sm validate" placeholder="password">
        
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>