
<div class="conseilsList">
    <h3 class="conseils-title">Terrain<span>Conseils & recommendations des experts</span></h3>
    <div class="conseils_search">
        <div class="conseils_search-wrapper">
            <div class="form-search">
                <input type="text" class="form-control form-control-lg form-control-rounded" placeholder='Ex : "Terrain" , "Achat"' value="" id="search_edito_value">
            </div>
            <button type="button" class="btn btn-secondary btn-rounded" onclick="">
                <i class="at-icon at-icon-search"></i>
                <span>Rechercher</span>
            </button>
        </div>
    </div>    
        <div class="conseils_category">
            <a href="#" class="conseils_category_item  ">#Bien immobilier</a>
            <a href="#" class="conseils_category_item  ">#Location</a>
            <a href="#" class="conseils_category_item  ">#Réglementation</a>
            <a href="#" class="conseils_category_item  active">#Terrain</a>
        </div>
    <div class="row main">
    <div class="col-md-12"> 
    <div class="row">
        <div class="col-md-8">
            <mat-card class="example-card">
                <img mat-card-image src="../assets/images/land.png" alt="Photo of a Shiba Inu">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Maison et terrain à vendre : 3 conseils pour vous décider</mat-card-title>
                    
                  </mat-card-header>
                <mat-card-content>
                  <p>
                    Dans la jungle des maisons et terrains disponibles à la vente sur le marché, 
                    il est parfois difficile de s’y retrouver, d’y voir clair et donc de se décider 
                    face aux enjeux financiers. Pourtant, certains éléments bien spécifiques permettent 
                    généralement de faire le bon choix d’achat et ainsi réussir son opération immobilière.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>Lire la suite</button>
                </mat-card-actions>
              </mat-card>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <mat-card class="example-card">
                
                <img mat-card-image src="../assets/images/land.png" alt="Photo of a Shiba Inu">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Comment savoir si un terrain est constructible ?
                    </mat-card-title>
                    
                  </mat-card-header>
                <mat-card-content>
                  <p>
                    Contrairement à ce que l'on pourrait penser, il n'est pas toujours facile de savoir si oui 
                    ou non un terrain est constructible. La classification des zones constructibles évolue très 
                    régulièrement, à tel point que les propriétaires eux-mêmes peuvent s'y perdre. 
                    Voici comment déterminer avec certitude si un terrain est constructible ou non.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>Lire la suite</button>
                </mat-card-actions>
              </mat-card>
        </div>
    </div>
        </div>
</div>
</div>
