<div id="fh5co-contact" style="background-color: 	#dfe4ea;">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center heading-section">
        <h3>Publier une annonce</h3>
      </div>
    </div>
    <form action="#">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Nom de l'annoceur"
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Email de l'annoceur"
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="n° Telephone"
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Titre de l'annoceur"
              />
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="prix de vente/location"
              />
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Surface du terrain"
              />
            </div>
          </div>

          <div class="col-md-6" style="text-align: center;">
            <div class="form-group">
              <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1">A vendre</mat-radio-button>
                <mat-radio-button value="2">A louer</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <div class="col-md-6" style="text-align: center;">
            <div class="form-group">
              <input type="file" placeholder="importer image" />
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <textarea
                name=""
                class="form-control"
                id=""
                cols="30"
                rows="7"
                placeholder="Description"
              ></textarea>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <input type="submit" value="valider" class="btn btn-primary" />
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
