<app-slide></app-slide>



<div id="fh5co-properties" class="fh5co-section-gray" style="background-color: 	#dfe4ea;">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="property">
                    <a href="#" class="fh5co-property" style="background-image: url(assets/images/agadir.jpg);">
                        <span class="status">A Vendre </span>
                        <ul class="list-details">
                            <li>
         
                                Appartement a louer (location) (Maroc Agadir)<li>
                            
                        </ul>
                    </a>
                    
                </div>
            </div>
            <div class="col-md-4">
                <div class="property">
                    <a href="#" class="fh5co-property" style="background-image: url(assets/images/rabat.jpg);">
                        <span class="status">A Louer</span>
                        <ul class="list-details">
                            <li>Villa 1250m2 <li>
                            <li>bien située à Californie</li>
                            
                        </ul>
                    </a>
                   
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="property">
                    <a href="#" class="fh5co-property" style="background-image: url(assets/images/tanger.jpg);">
                        <span class="status">A Louer</span>
                        <ul class="list-details">
                            <li>
                                Appartement a louer (Maroc Tanger) - <li>
                           
                        </ul>
                    </a>
                   
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="property">
                    <a href="#" class="fh5co-property" style="background-image: url(assets/images/spa.jpg);">
                        <span class="status">A Vendre </span>
                        <ul class="list-details">
                            <li> villa rénovée 540m2 au quartier Habous, Casablanca<li>
                            
                        </ul>
                    </a>
                    
                </div>
            </div>
            <div class="col-md-4">
                <div class="property">
                    <a href="#" class="fh5co-property" style="background-image: url(assets/images/land.jpg);">
                        <span class="status">A Louer</span>
                        <ul class="list-details">
                            <li>2000 ft sq<li>
                            <li>5 Bedroom:</li>
                            <li>4 Bathroom:</li>
                            <li>3 Garage:</li>
                        </ul>
                    </a>
                   
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="property">
                    <a href="#" class="fh5co-property" style="background-image: url(assets/images/maarif.jpg);">
                        <span class="status">A Louer</span>
                        <ul class="list-details">
                            <li>
                                Plateau de Bureau à vendre à Casablanca<li>
                        </ul>
                    </a>
                   
                </div>
            </div>
            <div class="col-md-4">
                <div class="property">
                    <a href="#" class="fh5co-property" style="background-image: url(assets/images/terrain.jpg);">
                        <span class="status">A Vendre </span>
                        <ul class="list-details">
                            <li>
                                Terrain Agricole Tetouan  1300 m²<li>
                        </ul>
                    </a>
                    
                </div>
            </div>
            <div class="col-md-4">
                <div class="property">
                    <a href="#" class="fh5co-property" style="background-image: url(assets/images/land.jpg);">
                        <span class="status">A Vendre</span>
                        <ul class="list-details">
                            <li>2000 ft sq<li>
                            <li>5 Bedroom:</li>
                            <li>4 Bathroom:</li>
                            <li>3 Garage:</li>
                        </ul>
                    </a>
                   
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="property">
                    <a href="#" class="fh5co-property" style="background-image: url(assets/images/kech.jpg);">
                        <span class="status">A Vendre</span>
                        <ul class="list-details">
                            <li>
                                Appartement À Vendre À Marrakech<li>
                            
                        </ul>
                    </a>
                   
                </div>
            </div>
            
           
            
        </div>
    </div>
</div>

<div class="pagination">
    <a href="#"> &laquo; </a>
    <a href="#" class="active">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>
    <a href="#">6</a>
    <a href="#"> &raquo;</a>
</div>



