<app-slide></app-slide>

<div id="fh5co-properties" class="fh5co-section-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="property">
                    <a href="#" class="fh5co-property" style="background-image: url(assets/images/land.jpg);">
                        <span class="status">A Vendre </span>
                        <!--<ul class="list-details">
                            <li>2000 ft sq<li>
                            <li>5 Bedroom:</li>
                            <li>4 Bathroom:</li>
                            <li>3 Garage:</li>
                        </ul>-->
                    </a>
                    <div class="property-details">
                        <h3>Properties Near in Beach</h3>
                        <span class="price">$3,000</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores.</p>
                        <span class="address"><i class="icon-map"></i>Thomas Street, St. Louis, MO 8990, USA</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="property">
                    <a href="#" class="fh5co-property" style="background-image: url(images/property-2.jpg);">
                        <span class="status">Rent</span>
                        <ul class="list-details">
                            <li>2000 ft sq<li>
                            <li>5 Bedroom:</li>
                            <li>4 Bathroom:</li>
                            <li>3 Garage:</li>
                        </ul>
                    </a>
                    <div class="property-details">
                        <h3>Modern House at NZ</h3>
                        <span class="price">$200/mos</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores.</p>
                        <span class="address"><i class="icon-map"></i>Thomas Street, St. Louis, MO 8990, USA</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="property">
                    <a href="#" class="fh5co-property" style="background-image: url(images/property-3.jpg);">
                        <span class="status">Sale</span>
                        <ul class="list-details">
                            <li>2000 ft sq<li>
                            <li>5 Bedroom:</li>
                            <li>4 Bathroom:</li>
                            <li>3 Garage:</li>
                        </ul>
                    </a>
                    <div class="property-details">
                        <h3>Bonggalo House</h3>
                        <span class="price">$3,000</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores.</p>
                        <span class="address"><i class="icon-map"></i>Thomas Street, St. Louis, MO 8990, USA</span>						
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="property">
                    <a href="#" class="fh5co-property" style="background-image: url(images/property-4.jpg);">
                        <span class="status">Sale</span>
                        <ul class="list-details">
                            <li>2000 ft sq<li>
                            <li>5 Bedroom:</li>
                            <li>4 Bathroom:</li>
                            <li>3 Garage:</li>
                        </ul>
                    </a>
                    <div class="property-details">
                        <h3>Properties at Alaska</h3>
                        <span class="price">$3,000</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores.</p>
                        <span class="address"><i class="icon-map"></i>Thomas Street, St. Louis, MO 8990, USA</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="property">
                    <a href="#" class="fh5co-property" style="background-image: url(images/property-5.jpg);">
                        <span class="status">Rent</span>
                        <ul class="list-details">
                            <li>2000 ft sq<li>
                            <li>5 Bedroom:</li>
                            <li>4 Bathroom:</li>
                            <li>3 Garage:</li>
                        </ul>
                    </a>
                    <div class="property-details">
                        <h3>Modern Properties</h3>
                        <span class="price">$200/mos</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores.</p>
                        <span class="address"><i class="icon-map"></i>Thomas Street, St. Louis, MO 8990, USA</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="property">
                    <a href="#" class="fh5co-property" style="background-image: url(images/property-6.jpg);">
                        <span class="status">Sale</span>
                        <ul class="list-details">
                            <li>2000 ft sq<li>
                            <li>5 Bedroom:</li>
                            <li>4 Bathroom:</li>
                            <li>3 Garage:</li>
                        </ul>
                    </a>
                    <div class="property-details">
                        <h3>House at the Top of Mountain</h3>
                        <span class="price">$3,000</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores.</p>
                        <span class="address"><i class="icon-map"></i>Thomas Street, St. Louis, MO 8990, USA</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" id="aide">
    <div class="col-md-12">
        <h2>Besoin d'aide</h2>
        <div class="col-md-4">
            <mat-card class="example-card">
                <img mat-card-image src="../assets/images/land.png" alt="Photo of a land">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Maison et terrain à vendre : 3 conseils pour vous décider</mat-card-title>
                    
                  </mat-card-header>
                <mat-card-content>
                  <p>
                    Dans la jungle des maisons et terrains disponibles à la vente sur le marché, 
                    il est parfois difficile de s’y retrouver, d’y voir clair et donc de se décider 
                    face aux enjeux financiers. Pourtant, certains éléments bien spécifiques permettent 
                    généralement de faire le bon choix d’achat et ainsi réussir son opération immobilière.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>Lire la suite</button>
                </mat-card-actions>
              </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="example-card">
                
                <img mat-card-image src="../assets/images/constructible.jpg" alt="constructible">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Comment savoir si un terrain est constructible ?
                    </mat-card-title>
                    
                  </mat-card-header>
                <mat-card-content>
                  <p>
                    Contrairement à ce que l'on pourrait penser, il n'est pas toujours facile de savoir si oui 
                    ou non un terrain est constructible. La classification des zones constructibles évolue très 
                    régulièrement, à tel point que les propriétaires eux-mêmes peuvent s'y perdre. 
                    Voici comment déterminer avec certitude si un terrain est constructible ou non.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>Lire la suite</button>
                </mat-card-actions>
              </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="example-card">
                <img mat-card-image src="../assets/images/question.jpg" alt="question">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>5 questions à se poser avant de faire construire une maison</mat-card-title>
                    
                  </mat-card-header>
                <mat-card-content>
                  <p>
                    Si la question du coût de construction de la maison est un aspect très important sur lequel 
                    se focalisent les futurs propriétaires, de nombreux autres points ont des conséquences sur 
                    le projet, et peuvent avoir des effets à long terme ; ils doivent donc être minutieusement 
                    réfléchis.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>Lire la suite</button>
                </mat-card-actions>
              </mat-card>
        </div>
            <a class="btn btn-outline btn-rounded" routerLink="/blog">Voir tous les conseils</a>
        
    </div>

</div>
<div class="row" id="section">
        <div class="col-md-12">
            <h2>À propos de nous</h2>
            <section>
                <p>Nous sommes des experts du marché de la construction de maisons individuelles 
                    et du métier d’aménageur depuis plus de 14 ans.</p>
                <p>Notre mission est de vous mettre en relation avec les meilleurs professionnels 
                de la construction, tous certifiés CCMI, mais aussi de vous accompagner tout au long
                de votre projet de construction.</p>
                <p>Nous tenons à ce que vous puissiez faire construire la maison de vos rêves de façon
                sereine et que vous ayez tous les éléments pour réaliser votre projet dans des conditions idéales.</p>
            </section>
            <div class="c-about-us_numbers">
                <div class="c-about-us_item">
                    <div class="c-about-us_number">+1</div>
                    <div class="c-about-us_title">Année d'expérience</div>
                </div>
                <div class="c-about-us_item">
                    <div class="c-about-us_number">250</div>
                    <div class="c-about-us_title">Terrains &agrave; vendre partout au Maroc</div>
                </div>
                <div class="c-about-us_item">
                    <div class="c-about-us_number">10</div>
                    <div class="c-about-us_title">Experts passionnés</div>
                </div>
            </div>
        </div>
    
</div>





